body {
    text-align: center;
    background-color: rgb(181, 230, 236);
    /*Color used to highlight header*/
}
h1 {
    color:black;
}
h1::before {  
    transform: scaleX(0);
    /*Tells the animation where to end the highlighting*/
    transform-origin: top right;
  }
  h1:hover::before {
    transform: scaleX(1);
    /*Tells the animation where to start the highlighting*/
    transform-origin: top left;
  }
  h1::before {
    /*Position of the highlighting box before it is hovered*/
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    /*Highlighted text bg color*/
    background: pink;
    z-index: -1;
    /*How fast the animation for highlighting the text appears/disappears*/
    transition: transform .3s ease;
  }
  h1 {
    /*Position/size of h1*/
    position: relative;
    font-size: 5rem;
  }
  html {
    /*Size of the block as seen by various browsers*/
    block-size: 100%;
    inline-size: 100%;
  }
  /*Highlighting container size/text font for h1*/
    box-sizing: border-box;
    place-content: center;
    font-family: system-ui, sans-serif;
}
/*Animated click-here button referenced by https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
/*If the button is hovered then the button turns pink*/
.button:hover {background-color: #eeb0e3}
}
