/*Stylesheet - CSS*/
body {
    #html {
        text-shadow: 200 px 200px;
        background-color: solid white;
        height: 2in;
        width: 2in;
    }
    #css {
        text-shadow: 100px 100px;
        background-color: solid white;
        width: 5%;
        height: 3%;
    }
    #bootstrap {
        text-shadow:100px;
        background-color: solid white;
        width: 5%;
        height: 5%;
        }
    }
}